header {
  border-bottom: 1px solid #cecece;
}

.blog-logo {
  font-family: Impact, sans-serif;
  font-size: 2.5rem;
  /* 1 em = M */
}

.jumbotron {
  background-size: cover;
  background-position: center;
    font-family: Impact, sans-serif;
  font-size: 2.5rem;
}
body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feffff+0,dcc2ed+91,dcc2ed+100,dfc4ef+100,9700ef+100,ddbdef+100 */
background: #feffff; /* Old browsers */
background: -moz-linear-gradient(top,  #feffff 0%, #dcc2ed 91%, #dcc2ed 100%, #dfc4ef 100%, #9700ef 100%, #ddbdef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #feffff 0%,#dcc2ed 91%,#dcc2ed 100%,#dfc4ef 100%,#9700ef 100%,#ddbdef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #feffff 0%,#dcc2ed 91%,#dcc2ed 100%,#dfc4ef 100%,#9700ef 100%,#ddbdef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ddbdef',GradientType=0 ); /* IE6-9 */
}

