html, body {
  /*  background-image: url('img/blog.jpg');*/
  background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 16rem;
    margin-top: auto;
    margin-bottom: auto;
    
    width: 25rem;
    background-color: rgba(104, 104, 104, 0.719) !important;
}

.card .card-header{
    background-color: #d3d3d3a1;
    color: #ffffff;
}